body{
    background-color: rgba(166, 14, 180, 0.6);
}
.tampilan-login{
    padding-top: 2em;
    box-sizing: border-box;
    font-family:arial;
    font-weight: bold;
    margin: 5em auto;
    width: 30%;
    height: 70vh;
    background: white;
    text-align: center;
    color: black;
    
}
input{
    height: 2.5em;
    background-color: rgba(255, 251, 251, 0);
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.397);
    text-indent: 10px;
}
button{
    background-color: rgba(230, 255, 103, 0.95);
    height: 2.5em;
    margin-top: 3em;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.397);
    cursor: pointer;
}
.input{
    padding: 1em;
    display: flex;
    flex-direction: column;

}